apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../../base

patches:
  - target:
      group: cert-manager.io
      version: v1
      kind: Certificate
      name: cluster-api-cert
      namespace: openshift-config
    path: patches/patch-certificate.yaml
