- name: Create udev rules to allow the {{ step_group }} group to interact with the HSM
  become: yes
  ansible.builtin.template:
    src: udev/99-step-hsm.rules.j2
    dest: /etc/udev/rules.d/99-step-hsm.rules
    owner: root
    group: root
    mode: 644
  register: create_hsm_udev_rule

- name: Reload udev rules if 99-step-hsm.rules changed
  when: create_hsm_udev_rule.changed
  become: yes
  ansible.builtin.command:
    argv:
      - /sbin/udevadm
      - control
      - --reload-rules
  register: reload_udev_rules

- name: Request events from the kernel if 50-hsm.rules changed and udev rules were reloaded
  when: create_hsm_udev_rule.changed and reload_udev_rules.rc == 0
  become: yes
  command:
    argv:
      - /sbin/udevadm
      - trigger
      - --attr-match=idVendor=20a0
      - --attr-match=idProduct=4230

- name: Create a polkit rule that allows the {{ step_group }} group to interact with the HSM
  become: yes
  ansible.builtin.template:
    src: polkit/50-step-pcsc.rules.j2
    dest: /etc/polkit-1/rules.d/50-step-pcsc.rules
    owner: root
    group: root
    mode: 644
  register: create_hsm_polkit_rule

- name: Restart polkit if 50-step-pcsc.rules changed
  when: create_hsm_polkit_rule.changed
  become: yes
  ansible.builtin.systemd_service:
    state: restarted
    enabled: yes
    scope: system
    name: polkit

- name: Ensure pcscd is started and enabled
  become: yes
  ansible.builtin.systemd_service:
    state: started
    enabled: yes
    scope: system
    name: pcscd

- name: Set up the p11-kit-server service
  block:
    - name: Ensure the {{ step_user }} user has the necessary systemd units for running p11-kit server
      become: yes
      ansible.builtin.template:
        src: systemd/{{ item }}.j2
        dest: /home/{{ step_user }}/.config/systemd/user/{{ item }}
        owner: "{{ step_user }}"
        group: "{{ step_group }}"
        mode: "0644"
      register: copy_p11_server_systemd_units
      loop:
        - p11-kit-server.socket
        - p11-kit-server.service

    - name: Reload the user-level systemd daemon if needed
      when: copy_p11_server_systemd_units.changed
      become: yes
      become_user: "{{ step_user }}"
      environment:
        XDG_RUNTIME_DIR: /run/user/{{ step_uid }}
        DBUS_SESSION_BUS_ADDRESS: "unix:path=/run/user/{{ step_uid }}/bus"
      ansible.builtin.systemd_service:
        daemon_reload: yes
        scope: user

    - name: Restart the p11-kit-server service if its configuration changed
      when: copy_p11_server_systemd_units.changed
      become: yes
      become_user: "{{ step_user }}"
      environment:
        XDG_RUNTIME_DIR: /run/user/{{ step_uid }}
        DBUS_SESSION_BUS_ADDRESS: "unix:path=/run/user/{{ step_uid }}/bus"
      ansible.builtin.systemd_service:
        state: restarted
        scope: user
        name: p11-kit-server

    - name: Ensure the p11-kit-server service is enabled and started
      become: yes
      become_user: "{{ step_user }}"
      environment:
        XDG_RUNTIME_DIR: /run/user/{{ step_uid }}
        DBUS_SESSION_BUS_ADDRESS: "unix:path=/run/user/{{ step_uid }}/bus"
      ansible.builtin.systemd_service:
        state: started
        enabled: yes
        scope: user
        name: p11-kit-server
