---
- name: Verify that all required variables are set
  when: lookup('vars', item) is undefined
  become: no
  delegate_to: localhost
  ansible.builtin.fail:
    msg: >
      Missing required variable: {{ item }}
  loop:
    - step_uid
    - step_gid
    - step_user
    - step_group
    - step_dns_name
    - step_name
    - step_https_port
    - step_hsm_pkcs11_uri
    - step_hsm_serial
