[Unit]
Description=p11-kit PKCS#11 Server Target

# Start both the socket and service units
Wants=p11-kit-server.socket
Wants=p11-kit-server.service

# Ensure the target is only active once both units are started
After=p11-kit-server.socket
After=p11-kit-server.service

[Install]
WantedBy=default.target
