---
- name: Check if the podman secret for the HSM PIN exists
  become: true
  become_user: "{{ _step_user }}"
  ansible.builtin.command:
    cmd: "podman secret exists hsm-pin-{{ _step_instance }}"
  register: check_podman_secret_hsm_pin
  ignore_errors: true
  changed_when: false

- name: Prompt for the HSM PIN if it is not set yet
  when: check_podman_secret_hsm_pin.rc == 1
  become: false
  delegate_to: localhost
  ansible.builtin.pause:
    prompt: "Enter the HSM PIN for {{ step_name }}"
    echo: false
  register: hsm_pin_prompt

- name: Create a podman secret for the HSM PIN
  when: check_podman_secret_hsm_pin.rc == 1
  become: true
  become_user: "{{ _step_user }}"
  containers.podman.podman_secret:
    state: present
    name: "hsm-pin-{{ _step_instance }}"
    data: "{{ hsm_pin_prompt.user_input }}"
    skip_existing: true

- name: Clear HSM PIN from memory
  ansible.builtin.set_fact:
    hsm_pin_prompt: null
