---
- name: Verify that all required variables are set
  when: lookup('vars', item) is undefined
  become: false
  delegate_to: localhost
  ansible.builtin.fail:
    msg: >
      Missing required variable: {{ item }}
  loop:
    - step_dns_name
    - step_name
    - step_hsm_pkcs11_uri
