apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: fast-iscsi-driver-config
  namespace: democratic-csi
spec:
  data:
    - remoteRef:
        key: nas-host
      secretKey: host
    - remoteRef:
        key: nas-iscsi-port
      secretKey: iscsiPort
    - remoteRef:
        key: nas-https-port
      secretKey: httpsPort
    - remoteRef:
        key: nas-api-key
      secretKey: apiKey
    - remoteRef:
        key: nas-api-user
      secretKey: apiUser
    - remoteRef:
        key: nas-ssh-port
      secretKey: sshPort
    - remoteRef:
        key: nas-ssh-user
      secretKey: sshUser
    - remoteRef:
        key: nas-ssh-private-key
      secretKey: sshPrivateKey
  refreshInterval: 1h0m0s
  secretStoreRef:
    kind: ClusterSecretStore
    name: infra-gcpsm-store
  target:
    name: fast-iscsi-driver-config
    creationPolicy: Owner
    template:
      engineVersion: v2
      data:
        driver-config-file.yaml: |
          driver: freenas-iscsi
          instance_id: fast-iscsi
          httpConnection:
            protocol: https
            host: "{{ .host }}"
            port: "{{ .httpsPort }}"
            apiKey: "{{ .apiKey }}"
            username: "{{ .apiUser }}"
            allowInsecure: false
            apiVersion: 2
          sshConnection:
            host: "{{ .host }}"
            port: "{{ .sshPort }}"
            username: "{{ .sshUser }}"
            privateKey: |
          {{ .sshPrivateKey | trim | indent 4 }}
          zfs:
            cli:
              sudoEnabled: true
              paths:
                zfs: /sbin/zfs
                zpool: /sbin/zpool
                sudo: /usr/bin/sudo
                chroot: /usr/sbin/chroot
            datasetParentName: fast/csi/core/iscsi/vols
            detachedSnapshotsDatasetParentName: fast/csi/core/iscsi/snaps
            zvolCompression:
            zvolDedup:
            zvolEnableReservation: false
            zvolBlocksize:
          iscsi:
            targetPortal: "{{ .host }}:{{ .iscsiPort }}"
            targetPortals: []
            interface:
            namePrefix: csi-
            nameSuffix: "-core"
            targetGroups:
              - targetGroupPortalGroup: 3
                targetGroupInitiatorGroup: 11
                # TODO: FIX MUTUAL CHAP AUTH!!!!
                targetGroupAuthGroup: #1
                targetGroupAuthType: None #CHAP_MUTUAL
            extentInsecureTpc: true
            extentXenCompat: false
            extentDisablePhysicalBlocksize: true
            extentBlocksize: 4096
            extentRpm: SSD
            extentAvailThreshold: 85
