#[match]
#driver=thunderbolt-net
#path=pci-0000:c7:00.5

[connection]
id=tbt-02
interface-name=tbt-02
type=ethernet
permissions=

[ethernet]
mac-address-randomization=never
cloned-mac-address=permanent
mtu=9000

[ipv4]
{{ tbt_02_ipv4_keys }}

[ipv6]
method=disabled