apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

commonAnnotations:
  argocd.argoproj.io/sync-wave: "10"

resources:
  - policy-mutate-step-ca-bundle.yaml
  - sa-step-issuer.yaml
  - use-nonroot-v2-scc.yaml
  - allow-step-issuer-sa-nonroot-v2.yaml
  - secret-step-issuer-provisioner-password.yaml
  - step-issuer.yaml
  - step-cluster-issuer.yaml

helmCharts:
  - name: step-issuer
    repo: https://smallstep.github.io/helm-charts
    releaseName: step-issuer
    version: 1.9.11
    valuesFile: helm-values/step-issuer.yaml
    namespace: pki
    includeCRDs: true
