apiVersion: kustomize.config.k8s.io/v1alpha1
kind: Component

patches:
  - target:
      group: operator.open-cluster-management.io
      version: v1
      kind: MultiClusterHub
      namespace: open-cluster-management
    path: patch-enable-siteconfig.yaml
