apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: fast-nfs-driver-config
  namespace: democratic-csi
spec:
  data:
    - remoteRef:
        key: nas-host
      secretKey: host
    - remoteRef:
        key: nas-https-port
      secretKey: httpsPort
    - remoteRef:
        key: nas-api-key
      secretKey: apiKey
    - remoteRef:
        key: nas-api-user
      secretKey: apiUser
    - remoteRef:
        key: nas-ssh-port
      secretKey: sshPort
    - remoteRef:
        key: nas-ssh-user
      secretKey: sshUser
    - remoteRef:
        key: nas-ssh-private-key
      secretKey: sshPrivateKey
  refreshInterval: 1h0m0s
  secretStoreRef:
    kind: ClusterSecretStore
    name: infra-gcpsm-store
  target:
    name: fast-nfs-driver-config
    creationPolicy: Owner
    template:
      engineVersion: v2
      data:
        driver-config-file.yaml: |
          driver: freenas-nfs
          instance_id: fast-nfs
          httpConnection:
            protocol: https
            host: "{{ .host }}"
            port: "{{ .httpsPort }}"
            apiKey: "{{ .apiKey }}"
            username: "{{ .apiUser }}"
            allowInsecure: false
            apiVersion: 2
          sshConnection:
            host: "{{ .host }}"
            port: "{{ .sshPort }}"
            username: "{{ .sshUser }}"
            privateKey: |
          {{ .sshPrivateKey | trim | indent 4 }}
          zfs:
            cli:
              sudoEnabled: true
              paths:
                zfs: /sbin/zfs
                zpool: /sbin/zpool
                sudo: /usr/bin/sudo
                chroot: /usr/sbin/chroot
            datasetParentName: fast/csi/core/nfs/vols
            detachedSnapshotsDatasetParentName: fast/csi/core/nfs/snaps
            datasetEnableQuotas: true
            datasetEnableReservation: false
            datasetPermissionsMode: "0777"
            datasetPermissionsUser: 0
            datasetPermissionsGroup: 0
          nfs:
            shareHost: "{{ .host }}"
            shareAlldirs: false
            shareAllowedHosts: []
            shareAllowedNetworks: []
            shareMaprootUser: root
            shareMaprootGroup: wheel
            shareMapallUser: ""
            shareMapallGroup: ""