apiVersion: machineconfiguration.openshift.io/v1
kind: MachineConfig
metadata:
  name: 98-configure-isci-initiatorname
  labels:
    machineconfiguration.openshift.io/role: worker
  annotations:
    argocd.argoproj.io/sync-wave: "4"
spec:
  config:
    ignition:
      version: 3.5.0
    systemd:
      units:
        - contents: |
            [Unit]
            Description=CoreOS Generate iSCSI Initiator Name
            Before=coreos-generate-iscsi-initiatorname.service
            Before=iscsid.service

            [Service]
            Type=oneshot
            ExecStart=/usr/bin/sh -c 'echo "InitiatorName=iqn.2025-12.solutions.cross:$(hostname)" > /etc/iscsi/initiatorname.iscsi'
            RemainAfterExit=yes

            [Install]
            WantedBy=multi-user.target
          name: coreos-generate-iscsi-initiatorname.service
          enabled: true
