apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../../base

patches:
  - target:
      group: external-secrets.io
      version: v1
      kind: ClusterSecretStore
      name: gcpsm-cluster-secret-store
      namespace: external-secrets
    path: patches/patch-gcpsm-cluster-secret-store.yaml
