---
- name: Update OS packages
  when: step_host_update_packages | bool
  become: true
  ansible.builtin.dnf:
    state: latest
    use_backend: dnf4
    update_cache: true
    pkg: "*"

- name: Install step-ca OS packages
  become: true
  ansible.builtin.dnf:
    state: latest
    use_backend: dnf4
    update_cache: false
    pkg: "{{ step_host_os_packages }}"

- name: Check if reboot is required
  when: step_host_reboot_if_required | bool
  ansible.builtin.command: needs-restarting -r
  register: needs_restarting_result
  failed_when: false
  changed_when: needs_restarting_result.rc == 1
  notify: Reboot the system
