apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../../base

patches:
  - target:
      kind: HelmChartInflationGenerator
      name: reflector
    path: patch-version.yaml
