apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

commonAnnotations:
  argocd.argoproj.io/sync-options: ServerSideApply=true

resources:
  - ns-kyverno.yaml
  - cluster-restricted-v2-scc.yaml
  - allow-kyverno-migrate-resources-sa-cluster-restricted-v2-scc.yaml

helmCharts:
  - name: kyverno
    repo: https://kyverno.github.io/kyverno/
    releaseName: kyverno
    version: 3.6.1
    valuesFile: helm-values/kyverno.yaml
    namespace: kyverno
    includeCRDs: true

patches:
  - patch: |-
      - op: replace
        path: /data/resourceFilters
        value: '[Event,*,*][*,kube-system,*][*,kube-public,*][*,kube-node-lease,*][Node,*,*][APIService,*,*][TokenReview,*,*][SubjectAccessReview,*,*][SelfSubjectAccessReview,*,*][*,kyverno,kyverno*][*,openshift,*][*,openshift-*,*][*,open-cluster-*,*][Binding,*,*][ReplicaSet,*,*][ReportChangeRequest,*,*][ClusterReportChangeRequest,*,*][PolicyReport,*,*][ClusterPolicyReport,*,*]'
    target:
      kind: ConfigMap
      name: kyverno
