apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ns-kyverno.yaml

helmCharts:
  - name: kyverno
    repo: https://kyverno.github.io/kyverno/
    releaseName: kyverno
    version: 3.6.1
    valuesFile: helm-values/kyverno.yaml
    namespace: kyverno
    includeCRDs: true

patches:
  - patch: |-
      - op: replace
        path: /data/resourceFilters
        value: '[Event,*,*][*,kube-system,*][*,kube-public,*][*,kube-node-lease,*][Node,*,*][APIService,*,*][TokenReview,*,*][SubjectAccessReview,*,*][SelfSubjectAccessReview,*,*][*,kyverno,kyverno*][*,openshift,*][*,openshift-*,*][*,open-cluster-*,*][Binding,*,*][ReplicaSet,*,*][ReportChangeRequest,*,*][ClusterReportChangeRequest,*,*][PolicyReport,*,*][ClusterPolicyReport,*,*]'
    target:
      kind: ConfigMap
      name: kyverno
  # The following ClusterRole patches are a workaround for the following issue:
  # https://github.com/kyverno/kyverno/issues/12200
  - patch: |-
      apiVersion: rbac.authorization.k8s.io/v1
      kind: ClusterRole
      metadata:
        name: kyverno-admission-controller:core
        labels:
          rbac.kyverno.io/aggregate-to-admission-controller: "true"
    target:
      kind: ClusterRole
      name: kyverno-admission-controller:core
  - patch: |-
      apiVersion: rbac.authorization.k8s.io/v1
      kind: ClusterRole
      metadata:
        name: kyverno-background-controller:core
        labels:
          rbac.kyverno.io/aggregate-to-background-controller: "true"
    target:
      kind: ClusterRole
      name: kyverno-background-controller:core
  - patch: |-
      apiVersion: rbac.authorization.k8s.io/v1
      kind: ClusterRole
      metadata:
        name: kyverno-cleanup-controller:core
        labels:
          rbac.kyverno.io/aggregate-to-cleanup-controller: "true"
    target:
      kind: ClusterRole
      name: kyverno-cleanup-controller:core
  - patch: |-
      apiVersion: rbac.authorization.k8s.io/v1
      kind: ClusterRole
      metadata:
        name: kyverno-reports-controller:core
        labels:
          rbac.kyverno.io/aggregate-to-reports-controller: "true"
    target:
      kind: ClusterRole
      name: kyverno-reports-controller:core
