---
- name: Configure portal
  hosts: portal
  gather_facts: true
  roles:
    - role: wake-on-lan
    - role: ntp
#    - role: google-authenticator
    - role: podman-host
    - role: cockpit
      require_totp_for_cockpit: no
    - role: quadlet-technitium


    # TODO (investigate level of effort to use NFS for vaultwarden storage volume)
#    - name: Deploy vaultwarden container (use Quay as registry)

    # TODO: manually go and add initial secrets needed for cluster bootstrap to vaultwarden
