---
- name: Create udev rules to allow the {{ _step_group }} group to interact with the HSM
  become: true
  ansible.builtin.template:
    src: udev/99-step-hsm.rules.j2
    dest: /etc/udev/rules.d/99-step-hsm.rules
    owner: root
    group: root
    mode: "0644"
  register: create_hsm_udev_rule

- name: Reload udev rules if 99-step-hsm.rules changed
  when: create_hsm_udev_rule.changed
  become: true
  ansible.builtin.command:
    argv:
      - /sbin/udevadm
      - control
      - --reload-rules
  register: reload_udev_rules

- name: Request events from the kernel if 50-hsm.rules changed and udev rules were reloaded
  when: create_hsm_udev_rule.changed and reload_udev_rules.rc == 0
  become: true
  ansible.builtin.command:
    argv:
      - /sbin/udevadm
      - trigger
      - --attr-match=idVendor={{ step_hsm_vendor_id }}
      - --attr-match=idProduct={{ step_hsm_product_id }}

- name: Create a polkit rule that allows the {{ _step_group }} group to interact with the HSM
  become: true
  ansible.builtin.template:
    src: polkit/50-step-pcsc.rules.j2
    dest: /etc/polkit-1/rules.d/50-step-pcsc.rules
    owner: root
    group: root
    mode: "0644"
  register: create_hsm_polkit_rule

- name: Restart polkit if 50-step-pcsc.rules changed
  when: create_hsm_polkit_rule.changed
  become: true
  ansible.builtin.systemd_service:
    state: restarted
    enabled: true
    scope: system
    name: polkit

- name: Ensure pcscd is started and enabled
  become: true
  ansible.builtin.systemd_service:
    state: started
    enabled: true
    scope: system
    name: pcscd

- name: Set up the p11-kit-server target
  block:
    - name: Ensure the systemd user directory exists
      become: true
      ansible.builtin.file:
        state: directory
        path: "{{ __step_user_home }}/.config/systemd/user"
        owner: "{{ _step_user }}"
        group: "{{ _step_group }}"
        mode: "0755"

    - name: Copy static p11-kit-server systemd units
      become: true
      ansible.builtin.copy:
        src: "systemd/p11-kit-server/{{ item }}"
        dest: "{{ __step_user_home }}/.config/systemd/user/{{ item }}"
        owner: "{{ _step_user }}"
        group: "{{ _step_group }}"
        mode: "0644"
      loop:
        - p11-kit-server.target
        - p11-kit-server.socket
        - p11-kit-server.service
      register: copy_p11_server_systemd_units

    - name: Ensure p11-kit-server environment directory exists
      become: true
      ansible.builtin.file:
        state: directory
        path: "{{ __step_user_home }}/.config/p11-kit-server"
        owner: "{{ _step_user }}"
        group: "{{ _step_group }}"
        mode: "0750"

    - name: Ensure p11-kit-server HSM environment file exists
      become: true
      ansible.builtin.copy:
        dest: "{{ __step_user_home }}/.config/p11-kit-server/hsm.env"
        owner: "{{ _step_user }}"
        group: "{{ _step_group }}"
        mode: "0640"
        content: |
          STEP_HSM_PKCS11_URI={{ step_hsm_pkcs11_uri }}
      register: create_p11_env

    - name: Reload the user-level systemd daemon if needed
      when: copy_p11_server_systemd_units.changed or create_p11_env.changed
      become: true
      become_user: "{{ _step_user }}"
      environment:
        XDG_RUNTIME_DIR: /run/user/{{ _step_uid }}
        DBUS_SESSION_BUS_ADDRESS: "unix:path=/run/user/{{ _step_uid }}/bus"
      ansible.builtin.systemd_service:
        daemon_reload: true
        scope: user

    - name: Restart the p11-kit-server target if its configuration changed
      when: copy_p11_server_systemd_units.changed or create_p11_env.changed
      become: true
      become_user: "{{ _step_user }}"
      environment:
        XDG_RUNTIME_DIR: /run/user/{{ _step_uid }}
        DBUS_SESSION_BUS_ADDRESS: "unix:path=/run/user/{{ _step_uid }}/bus"
      ansible.builtin.systemd_service:
        state: restarted
        scope: user
        name: p11-kit-server.target

    - name: Ensure the p11-kit-server target is enabled and started
      become: true
      become_user: "{{ _step_user }}"
      environment:
        XDG_RUNTIME_DIR: /run/user/{{ _step_uid }}
        DBUS_SESSION_BUS_ADDRESS: "unix:path=/run/user/{{ _step_uid }}/bus"
      ansible.builtin.systemd_service:
        state: started
        enabled: true
        scope: user
        name: p11-kit-server.target
