---
- name: Ensure appropriate firewall rules are in place
  become: yes
  block:
    - name: Allow web console access
      ansible.posix.firewalld:
        state: enabled
        permanent: yes
        immediate: yes
        zone: public
        port: 53443/tcp

    - name: Forward ports for DNS/HTTP
      ansible.posix.firewalld:
        state: enabled
        permanent: yes
        immediate: yes
        zone: public
        rich_rule: rule family=ipv4 forward-port port=443 protocol=tcp to-port=5443

    - name: Forward ports for DNS/UDP
      ansible.posix.firewalld:
        state: enabled
        permanent: yes
        immediate: yes
        zone: public
        rich_rule: rule family=ipv4 forward-port port=53 protocol=udp to-port=5053

    - name: Forward ports for DNS/TCP
      ansible.posix.firewalld:
        state: enabled
        permanent: yes
        immediate: yes
        zone: public
        rich_rule: rule family=ipv4 forward-port port=53 protocol=tcp to-port=5053
