apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../../base

patches:
  - target:
      group: argoproj.io
      version: v1alpha1
      kind: Application
      name: seaweedfs-operator
      namespace: openshift-gitops
    path: patches/patch-app-seaweedfs-operator.yaml
